.sub_menu {
    display: none;
}

li:hover .sub_menu {
    display: inline;
    position: absolute;
}

.sub_menu li {
    font-size: 12px;
}

.sub_menu li a {
    margin: auto;
    background: white;
}

.nav {
    z-index: 10000;
}

#nav-promo {
    width: 80%;
    margin: 10px auto;
    border-bottom: 1px solid #fc0045;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 40px;
}

#nav-promo a {
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    margin: 0 10px;
    padding: 5px 20px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    transition: 0.2s ease;
    color: #666;
}

#nav-promo a:hover,
#nav-promo a:focus {
    padding: 5px 20px 10px 20px;
}

#nav-promo a.promo-active {
    border: 1px solid #fc0045;
    border-bottom: none;
    border-top: 3px solid #fc0045;
    z-index: 100;
    bottom: -1px;
    background: white;
    padding: 5px 20px 10px 20px;
}