body {
    color: #666;
    font-family: "Open Sans", Arial, sans-serif;
}

@keyframes deroule {
    from {
        height: 0px;
    }
    to {
        height: 234px;
    }
}

@keyframes enroule {
    from {
        height: 234px;
    }
    to {
        height: 0px;
    }
}

header {}

header div {}

header svg {
    display: none;
    width: 60px;
}

header h1 {}

header img {
    height: 90px;
}

header ul {}

header ul li {
    list-style: none;
}

header ul li a {
    width: 200px;
    height: 50px;
    font-size: 1.3em;
    text-decoration: none;
    color: #666;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

header ul li a::before {
    display: block;
    content: '';
    position: absolute;
    width: 0px;
    height: 30px;
    border-bottom: 2px solid #666;
    border-top: 2px solid #666;
    transition: 0.2s ease;
}

header ul li a:hover,
header ul li a:focus {
    color: #333;
    text-decoration: none;
}

header ul li a:hover::before,
header ul li a:focus::before {
    width: 140px;
    border-bottom: 2px solid #333;
    border-top: 2px solid #333;
}

.page-active {
    color: #fc0045;
    margin: 20px;
}

.page-active::before {
    width: 140px;
    border-bottom: 2px solid #fc0045;
    border-top: 2px solid #fc0045;
}

.ouvert {
    animation: deroule 0.3s ease;
    height: 234px;
}

.fermer {
    animation: enroule 0.3s ease;
    height: 0px;
}

.en-tete {
    width: 90%;
    background-color: #e0e0e0;
    color: #333;
}

.en-tete h2 {
    font-size: 2em;
    margin: 10px;
}

.en-tete p {
    border-left: 2px solid #666;
    max-width: 70%;
}

#contact {
    width: 100%;
}

#coordonee {
    width: 100%;
}

#coordonee>div {
    min-width: 310px;
    max-width: 600px;
    width: 35%;
}

#programme {}

#programme section {
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px;
    padding: 10px;
    margin: 20px;
    max-width: 1264px;
    min-width: 290px;
    width: 85vw;
}

#programme ul {
    list-style: none;
}

#programme ul li:before {
    content: "\2192";
    color: #fc0045;
}

#programme ul ul li:before {
    content: "\2023";
}

#programme h3 {
    color: #333;
}

#intro {}

#intro h3 {
    column-span: all;
}

#block {
    width: 100%;
}

#block section {
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px;
    padding: 10px;
    min-width: 290px;
    max-width: 600px;
    width: 40vw;
}

#index {}

#index h1 img {
    max-width: 500px;
    min-width: 250px;
    width: 40vw;
}

#index #gris {
    background: #e0e0e0;
    width: 100%;
    color: #333;
    font-size: 1.2em;
}

#index #gris img {
    width: 60px;
}

#index #gris p {}

#index h2 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
}

#index h2 span {
    color: #fc0045;
}

#index #catch {
    background: #fc0045;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #333;
    box-shadow: 2px 2px 2px #333;
    transition: box-shadow 0.25s;
}

#index #catch:hover,
#index #catch:focus {
    box-shadow: 4px 4px 20px #333;
}

#index p {
    max-width: 700px;
    min-width: 300px;
    width: 50%;
}

#index #boutons {}

#index #boutons a {
    color: white;
    text-decoration: none;
    width: 150px;
    font-size: 1.1em;
    background: #666;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #333;
    box-shadow: 2px 2px 2px #333;
    transition: box-shadow 0.25s;
}

#index #boutons a:hover,
#index #boutons a:focus {
    box-shadow: 4px 4px 20px #333;
}

#publication {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100vw;
    overflow: hidden;
}

#publication div {
    margin: 5px;
    min-width: 300px;
    max-width: 600px;
    width: 30%;
}

#message {
    color: #666;
    font-size: 1.4em;
}

#map {
    min-width: 310px;
    max-width: 600px;
    width: 40%;
    align-items: center;
}

#map p {
    font-size: 1.2em;
    align-items: center;
}

#map p svg {
    width: 50px;
    fill: #fc0045;
}

#lien {
    background: #fc0045;
    color: white;
    text-align: center;
    width: 300px;
    text-decoration: none;
    font-size: 1.6em;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #333;
    box-shadow: 2px 2px 2px #333;
    transition: box-shadow 0.25s;
}

#lien:hover,
#lien:focus {
    box-shadow: 4px 4px 20px #333;
}

.sociaux {
    align-items: center;
}

.sociaux a {
    color: #666;
    transition: 0.3s ease;
    margin: 10px;
    padding: 10px;
}

.sociaux a:hover,
.sociaux a:focus {
    color: #fc0045;
}

.sub_menu {
    display: none;
}

li:hover .sub_menu {
    display: inline;
    position: absolute;
}

.sub_menu li {
    font-size: 12px;
}

.sub_menu li a {
    margin: auto;
    background: white;
}


/*nav*/

.nav {
    z-index: 10000;
}

#nav-promo {
    width: 80%;
    margin: 10px auto;
    border-bottom: 1px solid #fc0045;
    height: 40px;
}

#nav-promo a {
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    margin: 0 10px;
    padding: 5px 20px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    transition: 0.2s ease;
    color: #666;
}

#nav-promo a:hover,
#nav-promo a:focus {
    padding: 5px 20px 10px 20px;
}

#nav-promo a.promo-active {
    border: 1px solid #fc0045;
    border-bottom: none;
    border-top: 3px solid #fc0045;
    z-index: 100;
    bottom: -1px;
    background: white;
    padding: 5px 20px 10px 20px;
}


/*# sourceMappingURL=style.css.map */