body {
    display: flex;
    flex-direction: column;
    color: #666;
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0px;
}

@keyframes deroule {
    from {
        height: 0px;
    }
    to {
        height: 234px;
    }
}

@keyframes enroule {
    from {
        height: 234px;
    }
    to {
        height: 0px;
    }
}

header {
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header svg {
    display: none;
    width: 60px;
}

header h1 {
    margin: 0px;
}

header img {
    height: 90px;
}

header ul {
    display: flex;
    padding: 0px;
}

header ul li {
    margin: 0px;
    list-style: none;
}

header ul li a {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    text-decoration: none;
    color: #666;
    transition: 0.3s ease;
}

header ul li a::before {
    display: block;
    content: '';
    position: absolute;
    width: 0px;
    height: 30px;
    border-bottom: 2px solid #666;
    border-top: 2px solid #666;
    transition: 0.2s ease;
}

header ul li a:hover,
header ul li a:focus {
    color: #333;
}

header ul li a:hover::before,
header ul li a:focus::before {
    width: 140px;
    border-bottom: 2px solid #333;
    border-top: 2px solid #333;
}

.page-active {
    color: #fc0045;
}

.page-active::before {
    width: 140px;
    border-bottom: 2px solid #fc0045;
    border-top: 2px solid #fc0045;
}

@media only screen and (max-width: 750px) {
    header div {
        width: 100%;
    }
    header svg {
        display: block;
    }
    header nav {
        width: 100%;
        height: 0px;
        overflow: hidden;
        position: relative;
    }
    header ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.ouvert {
    animation: deroule 0.3s ease;
    height: 234px;
}

.fermer {
    animation: enroule 0.3s ease;
    height: 0px;
}

.en-tete {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 5% 10px 5%;
    justify-content: space-around;
    background-color: #e0e0e0;
    color: #333;
}

.en-tete h2 {
    font-size: 2em;
    margin: 10px;
}

.en-tete p {
    padding: 0px 13px;
    border-left: 2px solid #666;
    max-width: 70%;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#coordonee {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#coordonee>div {
    min-width: 310px;
    max-width: 600px;
    width: 35%;
}

#programme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#programme section {
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px;
    padding: 10px;
    margin: 20px;
    max-width: 1264px;
    min-width: 290px;
    width: 85vw;
}

#programme ul {
    list-style: none;
}

#programme ul li:before {
    content: "\2192";
    padding-right: 8px;
    color: #fc0045;
}

#programme ul ul li:before {
    content: "\2023";
}

#programme h3 {
    color: #333;
}

#intro {
    columns: 2;
}

#intro h3 {
    column-span: all;
}

@media only screen and (max-width: 700px) {
    #intro {
        columns: 1;
    }
}

#block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

#block section {
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px;
    padding: 10px;
    margin: 20px;
    min-width: 290px;
    max-width: 600px;
    width: 40vw;
}

#index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index h1 img {
    max-width: 500px;
    min-width: 250px;
    width: 40vw;
}

#index #gris {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    width: 100%;
    color: #333;
    font-size: 1.2em;
}

#index #gris img {
    width: 60px;
    margin: 5px;
}

#index #gris p {
    margin: 5px 0px;
}

#index h2 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
}

#index h2 span {
    color: #fc0045;
}

#index #catch {
    display: block;
    background: #fc0045;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    padding: 20px 20px;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #333;
    box-shadow: 2px 2px 2px #333;
    transition: box-shadow 0.25s;
}

#index #catch:hover,
#index #catch:focus {
    box-shadow: 4px 4px 20px #333;
}

#index p {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    min-width: 300px;
    width: 50%;
    text-align: center;
    margin: 30px 0px;
}

#index #boutons {
    display: flex;
    justify-content: center;
}

#index #boutons a {
    color: white;
    text-decoration: none;
    text-align: center;
    width: 150px;
    font-size: 1.1em;
    background: #666;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin: 5%;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #333;
    box-shadow: 2px 2px 2px #333;
    transition: box-shadow 0.25s;
}

#index #boutons a:hover,
#index #boutons a:focus {
    box-shadow: 4px 4px 20px #333;
}

#publication {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100vw;
    overflow: hidden;
}

#publication div {
    margin: 5px;
    min-width: 300px;
    max-width: 600px;
    width: 30%;
}

#message {
    color: #666;
    font-size: 1.4em;
}

#liste-apprenant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

#liste-apprenant li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 260px;
}

#liste-apprenant li a {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 20px;
    border-top: 3px solid #fc0045;
    box-shadow: 0px 0px 7px #e0e0e0;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #666;
    overflow: hidden;
}

#liste-apprenant li a:hover {
    box-shadow: 1px 1px 10px #666;
    width: 204px;
    margin: 18px;
}

#liste-apprenant li h4 {
    margin: 0px;
    font-size: 1.3em;
}

#liste-apprenant li p {
    margin: 3px 0px 0px 0px;
    font-size: 0.8em;
}

#liste-apprenant li img {
    max-width: 200px;
    max-height: 250px;
    margin: auto;
}

#liste-apprenant li div {
    width: 200px;
}

.emboche {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 220px !important;
    height: 320px;
    background-color: #333;
    opacity: 0.8;
    transition: 0.3s ease;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.emboche:hover {
    width: 224px !important;
}

.cv-personnel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 4%;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    padding: 5px;
}

.cv-personnel img {
    margin: 5%;
    height: 120px;
}

.cv-personnel div {
    flex-grow: 1;
}

.cv-personnel div h3 {
    color: #fc0045;
    font-size: 1.2em;
    margin: 10px 0px;
}

.cv-personnel div p {
    margin: 5px 0px;
}

#map {
    min-width: 310px;
    max-width: 600px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map p {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin: 15px 0px 0px 0px;
}

#map p svg {
    width: 50px;
    fill: #fc0045;
}

#lien {
    background: #fc0045;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: 20px auto;
    text-decoration: none;
    font-size: 1.6em;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #333;
    box-shadow: 2px 2px 2px #333;
    transition: box-shadow 0.25s;
}

#lien:hover,
#lien:focus {
    box-shadow: 4px 4px 20px #333;
}

.sociaux {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sociaux a {
    margin: 10px;
    padding: 10px;
    color: #666;
    transition: 0.3s ease;
}

.sociaux a:hover,
.sociaux a:focus {
    color: #fc0045;
}


/*# sourceMappingURL=style.css.map */